<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<nav>
		<div class="nav"><a href="/users/new">Sign up</a></div>
		<div class="nav"><a href="/users">List of Users</a></div>
		<div class="nav"><a href="/">Home</a></div>
	</nav>

	<div class='main-container'>
		<%= yield %>
	</div>
	
</body>
