<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<h3 class='hello'>Edit form</h3>

<form action='/user/<%= @user.id %>/update_user' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="text" name="password" placeholder='password'>
	<input type="submit" value="Update user">
</form>

<h3>Add a description about yourself</h3>


<h3>Logout</h3>
<form action='/logout' method='post'>
	<input type="submit" value="Logout">
</form>

<h3>Delete User</h3>
<!-- <form action='/delete_user' method='get'>
	<input type="submit" value="Delete Account">
</form> -->
<a href="/user/<%= @user.id %>/delete_user"><button>Delete</button></a>