<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<h2 class='hello'>List of all Users:</h2>

<div id="userWrapper">
	<% @users.each do |u| %>
	<a href='/users/<%= u.id %>'><div><%= u.username %></div></a>
	<% end %>
</div>